In [5]:
import numpy as np
import pandas as pd
from sklearn.datasets import load_iris

In [8]:
iris = load_iris()

X = iris.data
y = iris.target

In [9]:
# convert it into a binary classification problem

y_binary = np.where(y == 0, 1, 1)

In [11]:
# create dataframe from Iris Data
df = pd.DataFrame(X, columns=iris.feature_names)
df['species'] = y_binary
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
0,5.1,3.5,1.4,0.2,1
1,4.9,3.0,1.4,0.2,1
2,4.7,3.2,1.3,0.2,1
3,4.6,3.1,1.5,0.2,1
4,5.0,3.6,1.4,0.2,1

In [12]:
len(df)

150

In [15]:
print(df.shape)

(150, 5)

In [ ]:
# Normalize the data
# Logistic regression is prone to error if you do not normalize the data

X_norm = (X - np.mean(X, axis=0)) / np.std(X, axis=0)